@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 10% ;
}
.Hire-main{
  background-image: url('./assets/images/hire-bg.avif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navLink a {
  display: inline-block;
  position: relative;
  color: #0087ca;
  text-decoration: none;
}
.navLink a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navLink a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .slick-dots {
  bottom: 20px;
}

.slick-dots li {
  margin: 0;
}

.custom-dot {
  display: inline-block;
  margin-right: 10px; 
}

.custom-dot span {
  width: 10px; 
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff; 
  transition: all 0.3s ease;
}
.slick-dots li {
  display: flex;
  justify-content: ;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 30px !;
  border-radius: 50%; 
  padding: 10px !important;
  border: 1px solid rebeccapurple;
}
.slick-dots li div{
  margin: 10px ;
  border: 1px solid black ;
  background-color: red;
}
*/

.slick-dots li.slick-active div {
  background-color: #fdd835; 
  border-color: #fdd835; 
 
} 

.slick-prev,
.slick-next {
  display: none;
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  display: block !important;
}